# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database & Storage
*.db
studybuddy.db
uploads/
vector_store/

# Environment Keys
.env

# OS / IDE
.DS_Store
.vscode/
.idea/
